<div class="title_course">
  <%= @course.name %>
</div>
<div class="subtitle_course">
  <%= @course.subtitle %>
</div>

<%= link_to 'Voltar', dashboard_student_home_index_path, class: "btn btn-primary" %>
<div class="row">
  <div class="col-md-3">
    <%= render 'course_info' %>
  </div>

  <div class="col-md-9 sections_course">
    <%= render 'sections' %>
  </div>
</div>