<div class="login_user">
  <div class="text-center logo_student">
    <%= image_tag("logo_1.png") %>
  </div>
  <br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <label for="">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email aqui" %>
    </div>

    <div class="field">
      <label for="">Senha</label>
       <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha aqui" %>
    </div>

    <%# if devise_mapping.rememberable? %>
      <div class="field">
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
      </div>
    <%# end %>

    <div class="button_login">
      <%= f.submit "Entrar", class: "btn btn-success" %>
      <%= render "students/shared/links" %>
    </div>
  <% end %>
</div>
