<% @courses.each do |subscription| %>
  <div class="col-md-3">
    <%= link_to dashboard_student_course_path(subscription.course.id), class: "link_course" do %>
      <div class="card">
        <%= image_tag(subscription.course.image_course, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= subscription.course.name %></h5>
          <p class="card-text"><%= subscription.course.subtitle %></p>
          <div class="text-center">
            <%= link_to 'Acessar Curso', dashboard_student_course_path(subscription.course.id), class: "btn btn-primary" %>
          </div>
        </div>
        <div class="card-footer text-muted text-center">
          Sessões: <b><%= subscription.course.sections.count %></b> | Vídeos: <b><%= subscription.course.sections.map { |section| section.lessons.count }.inject(0, :+) %></b> | <%= subscription.course.created_at.to_s(:date_time_env) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>