<h2>Usuários</h2>
<hr>
<%= link_to 'Cadastrar Novo Usuário', dashboard_user_create_student_path, class: "btn btn-success" %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Email</th>
      <th scope="col">Situação</th>
      <th scope="col">Inscrições</th>
      <th scope="col">Cadastrado em</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr class="table align-middle <%= student.status == "active" ? "table-success" : "table-danger" %>">
      <td scope="row"><%= student.registration %></td>
      <td><%= student.email %></td>
      <td><%= student.status == "active" ? "Ativo" : "Inativo" %></td>
      <td><%= student.subscriptions.count %></td>
      <td>
        <%= student.created_at.to_s(:date_time_env_specific) %>
      </td>
      <td>
        <%= link_to 'Ver', dashboard_user_view_student_path(student.id), class: "btn btn-primary" %> | 
        <%= link_to 'Editar', dashboard_user_update_path(student.id), class: "btn btn-warning" %> | 
        <%= link_to 'Excluir', dashboard_user_delete_student_path(student.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse usuário?' } %> |
        <% if student.status == "active" %>
          <%= link_to 'Desativar', dashboard_user_update_status_student_path(student.id), method: :put, class: "btn btn-danger" %>
        <% else %>
          <%= link_to 'Ativar', dashboard_user_update_status_student_path(student.id), method: :put, class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>