<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editVideo<%= lesson.id %>">
  Editar Aula
</button>

<div class="modal fade" id="editVideo<%= lesson.id %>" tabindex="-1" aria-labelledby="editVideo<%= lesson.id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editVideo<%= lesson.id %>">Adicionar Video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: lesson, url: update_video_section_in_course_path(@course.id, lesson.id), local: true, remote: true, multipart: true, method: :put) do |form| %>
          <div class="row">
            <div class="col-md-12">
              <label>Imagem de Capa</label>
              <%= form.file_field :thumbnail, class: "form-control", direct_upload: true %>
            </div>

            <div class="col-md-12">
              <br>
              <label>Video</label>
              <%= form.file_field :video, class: "form-control", direct_upload: true %>
            </div>

            <div class="col-md-12">
              <br>
              <label>Título *</label>
              <%= form.text_field :title, value: lesson.title, class: "form-control", placeholder: "Ex: Como instalar o Windows" %>
            </div>

            <div class="col-md-12">
              <br>
              <label>Descrição</label>
              <%= form.text_area :content, value: lesson.content, class: "form-control", rows: 6 %>
            </div>

            <div class="col-md-12">
              <br>
              <label for="">Recursos para Aula</label>
              <%= form.file_field :lesson_resources, class: "form-control", direct_upload: true, multiple: true %>
            </div>
          </div>
          <div class="text-center">
            <br>
            <%= form.button type: "submit", id: "submit-uploader", class: "btn btn-primary btn-md", data: { disable_with: "Fazendo Upload de Video..." } do %>
              Atualizar Informações
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>