<% if !notice.nil? %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2">
    <div class="card">
      <label class="text-center">Imagem de Capa</label>
      <%= attached_present(@course.image_course) ? image_tag(@course.image_course, class: "card-img-top") : image_tag("unavailable.png", width: "100%") %>
    </div>

    <br>
    <div class="text-center">
      <%= link_to 'Editar Curso', edit_course_path(@course), class: "btn btn-warning" %> | <%= link_to 'Voltar', courses_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="col-md-10">
    <label for=""><b>Título</b></label>
    <input type="text" class="form-control" value="<%= @course.name %>" readonly>

    <label for=""><b>Subtítulo</b></label>
    <input type="text" class="form-control" value="<%= @course.subtitle %>" readonly>

    <label for=""><b>Descrição</b></label>
    <textarea class="form-control" readonly rows="6"><%= @course.content %></textarea>
    <br>
    <%= render 'modal_section' %> | <%= render 'course_users' %> | <%= render 'add_user_to_course' %> | <%= render 'modal_update_image_all_videos' %>

    <br>
    <br>
    <h3>Conteúdo do Curso</h3>
    <hr>

    <div class="accordion" id="accordionSections">
      <% @course.sections.order(position: :asc).each_with_index do |section, index| %>
        <div class="accordion-item" aria-expanded="true">
          <h2 class="accordion-header" id="section<%= section.name %>">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%= index %>" aria-expanded="true" aria-controls="collapseOne">
              Sessão <%= index + 1%>: <span class="course_section_name"><%= section.name %></span>
            </button>
          </h2>
          <div id="collapseOne<%= index %>" class="accordion-collapse collapse show" aria-labelledby="section<%= section.name %>" data-bs-parent="#accordionSections">
            <div class="accordion-body">
              <br>
              <h5>Video Aulas (<%= section.lessons.count %>)</h5>
              <hr>
              <% section.lessons.order(position: :asc).each_with_index do |lesson, index| %>
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <% if attached_present(lesson.video) then %>
                        <%= render 'shared/video', lesson: lesson, id: lesson.id %>
                      <% else %>
                        <%= image_tag('video.png', width: '100%') %>
                      <% end%>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= index + 1 %> - <%= lesson.title %></h5>
                        <p class="card-text"><%= lesson.content %></p>
                        <%= render 'move_video_buttons', section: section, course: @course, lesson: lesson %>
                        <%= render 'comments', lesson: lesson %>
                        <%= render 'resource_lesson', lesson: lesson %>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              <% end %>
              <br>
              <%= render 'modal_add_video', section: section, lesson: @lesson %> | <%= render 'modal_update_section', section: section %> | <%= link_to 'Apagar Sessão', destroy_section_in_course_path(@course.id, section.id), class: "btn btn-danger", method: :delete, data: { confirm: "Tem certeza que deseja apagar esta Sessão? A ação não poderá ser desfeita e todos seus (#{section.lessons.count}) Videos serão excluídos para sempre!" } %> | <%= render 'move_section_buttons', section: section, course: @course %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>