<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo_3.png') %>

    <% if @course.present? %>
      <title>S3 Academy - <%= @course.name %></title>
      <%= display_meta_tags og: { url: ENV['HOST_URL'], title: @course.name, type: 'website', description: "#{@course.content}", image: "#{ENV['HOST_URL']}#{url_for(@course.image_course)}", site_name: "S3 Academy", description: "#{@course.content}", image: { width: '300', height: '300' } } %>

      <% title @course.name %>
      <% description "#{@course.content}" %>
      <% set_meta_tags image_src: "#{ENV['HOST_URL']}#{url_for(@course.image_course)}" %>
      <% keywords "#{@course.name}" %>

      <meta charset="utf-8">
      <meta name="language" content="pt-br">
      <title><%= @course.name %></title>
      <meta name="description" content="<%= @course.content %>">
      <meta name="robots" content="">
      <meta name="author" content="">
      <meta name="keywords" content="">

      <meta property="og:type" content="page">
      <meta property="og:url" content="<%= ENV['HOST_URL'] %>">
      <meta property="og:title" content="<%= @course.name %>">
      <meta property="og:image" content="<%= "#{ENV['HOST_URL']}#{url_for(@course.image_course)}" %>">
      <meta property="og:description" content="<%= @course.content %>">

      <meta property="article:author" content="<%= @course.name %>">

      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="<%= ENV['HOST_URL'] %>">
      <meta name="twitter:title" content="<%= @course.name %>">
      <meta name="twitter:creator" content="<%= @course.name %>">
      <meta name="twitter:description" content="<%= @course.content %>">
    <% else %>
      <title>S3 Academy</title>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/home/menu' %>
    <%= render 'layouts/home/carousel' %>
    <div class="home_container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
