<!DOCTYPE html>
<html>
  <head>
    <title><%= current_student.email %> - SchoolVideos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
  </head>

  <body>
    <%= render 'layouts/student/menu' %>
    <div class="dashboard_user">
      <%= yield %>
    </div>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  </body>
</html>
