<div class="card">
  <div class="card-header text-center">
    Status: <%= current_student.status == 'active' ? "Ativo" : "Inativo" %>
  </div>
  <% if attached_present(current_student.avatar) %>
    <%= image_tag(current_student.avatar, class: 'card-img-top') %>
  <% else %>
    <%= image_tag("unavailable.png", class: 'card-img-top') %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title text-center"><%= current_student.email %></h5>
  </div>
  <div class="card-footer text-muted">
    Cadastrado em: <%= current_student.created_at.to_s(:date_time_env) %>
  </div>
</div>